/**
 * @name RealDark Configuration
 * @author D Mack (dmack6464)
 * @version 2.2
 * @description RealDark REQUIRED configuration file for any and all other RealDark theme files. I recommend using ThemeSettings by DevilBro if you're not familiar with CSS.
 * @source https://github.com/dmack6464/RealDark/
 * @website https://discord.gg/pB2SmhC/
*/
:root {

    /* required for RealDark, RealDarkAnnoyances, RealDarkOldSettings, RealDarkTextBoxButtons */

    --ThemeSettings:"This theme is mostly compatible with ThemeSettings."; /* some of these settings affect RealDark addons, scroll to bottom for Annoyances settings. */

    --title:"RealDark"; /* title bar text */
    --title-align:left; /* Options: center, left */
    --icon-rounding:0%; /* icon rounding: 0% for none, 50% for completely round icons */

/* mention settings */
    --background-mentioned:rgba(50,50,120, 0.20); /* mention message background colour */
    --mentionmark:#5555FF; /* mention marker colour, may be used as a second/third accent in future */

/* regular settings */
    --RDbackground-secondary:#09090D;
    --RDbackground-primary:#030307;
    --RDbackground-tertiary:#222226; /* shade colour 0 */
    --shadeHighlight:#303034; /* new shade for a a few new items */
    --shadeTransparent:#202024a0; /* first rgba hex now its officially supported */
    --shade1:#18181c; /* shade colour 1 */
    --shade1a:#121216; /* shade colour 1a */
    --shade2:#0f0f14; /* shade colour 2 */
    --text:#DDDDDD;    /*text rgb(255,255,250) var(--text)*/
    --text2:#909094; /* born out of necessity */
    --links:#00ffff; /* link highlight */
    --accentcolor:#3070ff; 
    --accentcolor2:#00a0ff; 
    --textboxcolour:var(--shade1); /* might remove */
    --textBoxUnderLine:#404044; /* re-added for RealDark classic styling */
    --background-blur:1.5px;
    --font:'Whitney'; /* Default is Whitney */
    --secondaryFont:Consolas,Liberation Mono,Menlo,Courier,monospace; /* defined here now to save space */

    --titlebar:var(--shade1); /* titlebar colour */

    ----------------------:"RealDark Annoyances Configuration"; /* ================================================== */
    --How_to_Use:"flex = disable, none = enable"; /* This theme is compatible with ThemeSettings. */

    --send-gif-button:none; /* the "GIF" button where you type out messages. */
    --nitro-nagging:none;
    --spotifyPremiumOptions:none; /* this will also affect messages with Spotify listening parties, which will appear as empty messages. */
    --reactionOptionsInRightClickMenu:none; /* message reactions in the right-click dialog. */
    --reactionOptionsInChat:flex; /* message reaction button next to the Reply button. */
    --explorePublicServers:none; /* the Explore Public Servers button at the bottom of the server/guild list. */

    --disableWarning:none; /* leave this setting alone */
}